<!-- start myaccount/address-form.hbs -->
<form method="post" action="{{@root.meta._links.editAddressesSubmit.href}}">
  <input type="hidden" name="csrfToken" value="{{@root.meta.csrfToken}}"/>
  <div class="shipping-info">
    <span class="text-uppercase shipping-info-title">{{i18n "myAccount:addressInformation"}}</span>
    <span class="pull-right required-fields">{{i18n "main:form.required"}}*</span>
  </div>
  {{> checkout/global-form-errors errors=addressForm.errors}}
  {{> myaccount/address-form-elements form=address}}
</form>
<!-- end myaccount/address-form.hbs -->
