debug: false
default:
  locale: en
  country: us
  languages:
    - de
    - en
  countries:
    - DE
    - UK
  fallback_languages:
    de:
      - en
  i18n:
    cache_dir: cache/i18n
  templates:
    base: vendor/commercetools/sunrise-design/templates
    cache_dir: cache/templates
    templateDirs:
      - templates
  cache:
    products: true
sunrise:
  header:
    callUs: +44 123 456 000
  assetsPath: /assets/
  sale:
    slug: sale
  itemsPerPage:
    - 12
    - 24
    - 48
  products:
    sort:
      new:
        formValue: new
        searchParam: createdAt desc
      price-asc:
        formValue: price-asc
        searchParam: price asc
      price-desc:
        formValue: price-desc
        searchParam: price desc

commercetools:
  client_id: <client-id>
  client_secret: <client-secret>
  project: <project>
