debug: false
default:
  locale: de
  country: de
  languages:
    - de
    - en
  countries:
    - DE
    - UK
  currencies:
    DE: EUR
    UK: GBP
  fallback_languages:
    de:
      - en
  i18n:
    resourceDirs:
      - vendor/commercetools/sunrise-design/locales
      - app/locales
    namespace:
      defaultNs: translations
      namespaces:
        - translations
        - home
        - catalog
    cache_dir: cache/i18n
    interpolationPrefix: __
    interpolationSuffix: __
  templates:
    base: vendor/commercetools/sunrise-design/templates
    cache_dir: cache/templates
    templateDirs:
      - templates
      - vendor/commercetools/sunrise-dmexco/conf/templates
  cache:
    products: true
  session:
    enforceSecureCookie: true
    encryptionKey:
    encryptionKeySalt:
sunrise:
  header:
    callUs: +44 123 456 000
  assetsPath: /assets/
  sale:
    slug: sale
  itemsPerPage:
    - 12
    - 24
    - 48
  products:
    sort:
      new:
        formValue: new
        searchParam: createdAt desc
      price-asc:
        formValue: price-asc
        searchParam: price asc
      price-desc:
        formValue: price-desc
        searchParam: price desc
    variantsSelector:
      main:
      - size
      - color
    details:
      attributes:
      - designer
      - gender
      - style
commercetools:
  client_id: <client-id>
  client_secret: <client-secret>
  project: <project>
