<!-- start catalog/display-selector.hbs -->
<p class="item-count">{{i18n "catalog:displaySelector.title"}}</p>
<div class="custom-select-wrapper">
	<select name="{{displaySelector.key}}" class="select-product-detail" required onchange="window.location = this.options[this.selectedIndex].value;">
	  {{#each displaySelector.list}}
	    <option value="{{uri}}" {{#if selected}}selected{{/if}}>{{label}}</option>
	  {{/each}}
	</select>
</div>
<!-- end catalog/display-selector.hbs -->
