<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="app" synthetic="true" />
        <service id="app.cache" class="Commercetools\Core\Cache\CacheAdapterInterface">
            <factory service="app.cache.factory" method="get" />
        </service>
        <service id="app.cache.factory" class="Commercetools\Core\Cache\CacheAdapterFactory" />
        <service id="commercetools.client.factory" class="Commercetools\Sunrise\AppBundle\Service\ClientFactory">
            <argument>%app.commercetools%</argument>
            <argument>%app.fallback_languages%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="logger" on-invalid="null" />
        </service>
        <service id="commercetools.client" class="Commercetools\Core\Client">
            <factory service="commercetools.client.factory" method="build"/>
            <argument type="service" id="app.locale" />
        </service>
        <service id="app.repository.category" class="Commercetools\Sunrise\AppBundle\Repository\CategoryRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.repository.cart" class="Commercetools\Sunrise\AppBundle\Repository\CartRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.repository.shipping_method"/>
            <argument type="service" id="app.locale"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.repository.product" class="Commercetools\Sunrise\AppBundle\Repository\ProductRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.repository.order" class="Commercetools\Sunrise\AppBundle\Repository\OrderRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.repository.customer" class="Commercetools\Sunrise\AppBundle\Repository\CustomerRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.repository.product_type" class="Commercetools\Sunrise\AppBundle\Repository\ProductTypeRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.repository.shipping_method" class="Commercetools\Sunrise\AppBundle\Repository\ShippingMethodRepository">
            <argument>%app.config%</argument>
            <argument type="service" id="app.cache" />
            <argument type="service" id="commercetools.client"/>
            <argument type="service" id="app.extension.profiler" />
        </service>
        <service id="app.catalog.controller" class="Commercetools\Sunrise\AppBundle\Controller\CatalogController">
            <argument type="service" id="app.locale" />
            <argument>%app.config%</argument>
            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
        </service>
        <service id="app.cart.controller" class="Commercetools\Sunrise\AppBundle\Controller\CartController">
            <argument type="service" id="app.locale" />
            <argument>%app.config%</argument>
            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
        </service>
        <service id="app.user.controller" class="Commercetools\Sunrise\AppBundle\Controller\UserController">
            <argument type="service" id="app.locale" />
            <argument>%app.config%</argument>
            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
        </service>

        <service id="app.locale" class="string">
            <factory service="app.locale.converter" method="convert" />
            <argument type="service" id="app.locale.request" />
        </service>
        <service id="app.locale.converter" class="Commercetools\Sunrise\AppBundle\Service\LocaleConverter">
            <argument>DE</argument>
        </service>
        <service id="app.locale.request" class="Symfony\Component\HttpFoundation\Request">
            <factory service="app.request" method="getLocale" />
        </service>
        <service id="app.request" class="Symfony\Component\HttpFoundation\Request">
            <factory service="request_stack" method="getCurrentRequest" />
        </service>
        <service id="app.route_generator" class="Symfony\Component\Routing\Generator\UrlGeneratorInterface">
            <factory service="router" method="getGenerator" />
        </service>

        <service id="app.extension.profiler" class="Commercetools\Sunrise\AppBundle\Profiler\CTPProfilerExtension" public="false">
            <argument type="service" id="app.commercetools.profile" />
            <argument type="service" id="debug.stopwatch" on-invalid="null" />
        </service>
        <service id="app.commercetools.profile" class="Commercetools\Sunrise\AppBundle\Profiler\Profile" />
        <service id="data_collector.ctp" class="Commercetools\Sunrise\AppBundle\DataCollector\CTPDataCollector" public="false">
            <tag name="data_collector" id="ctp"/>
            <argument type="service" id="app.commercetools.profile" />
        </service>

        <!--<service id="app.ctpuser_user_provider" class="AppBundle\sUser\ctpuserprovider"/>-->

        <service id="app.ctp_user_provider"
                 class="Commercetools\Sunrise\AppBundle\Security\User\CTPUserProvider">
            <argument type="service" id="session" />
        </service>
        <service id="security.authentication_provider.ctp"
                 class="Commercetools\Sunrise\AppBundle\Security\Authentication\Provider\CTPAuthenticationProvider"
                 abstract="true"
                 public="false"
        >
            <argument type="service" id="session" />
            <argument type="service" id="commercetools.client.factory" />
            <argument /> <!-- User Provider -->
            <argument type="service" id="security.user_checker" />
            <argument /> <!-- Provider-shared Key -->
            <argument>%security.authentication.hide_user_not_found%</argument>
        </service>

    </services>
</container>
